* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pink500: #FB0991;
  --purple500: #AA39DFE5;
  --blue500: #3456CD;
}

body {
  background: #ffffff;
  color: #424242;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
button,
input,
textarea,
select,
option {
  font: 500 1rem "Poppins", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}
