.box {
  background-color: #F5F5F5;
  padding: 1.7rem;

  border-radius: 0.8rem;
  height: 100%;

  margin-bottom: 1rem;
  word-break: break-word;
}

.downloads {
  display: flex;
  justify-content: right;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.download {
  background: white;
  border: 0;
  margin-right: auto;

  .downloadIcon {
    width: 1.5rem;
    height: 1.5rem;
  }
}