.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 1rem;

  margin-top: 5rem;
}

.logo {
  font-weight: bold;
  color: var(--pink500);
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.socialLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 8rem;

  border: 3px solid var(--purple500);
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: white;

  span {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--purple500);
  }
}